.input {
  @apply border border-black rounded-sm py-3 px-4 overflow-hidden;

  &.input-error {
    @apply border border-primary;
  }
}
.input-msg {
  @apply absolute pin-l pin-r mt-1 block text-xs font-medium leading-tight;
}

.btn {
  @apply rounded-sm py-2 border border-black inline-flex items-center justify-center;

  &:hover,&:focus {
    opacity: .7;
  }

}
.btn-primary {
  @apply bg-primary border-primary text-white;
}

.btn-group {
  &.btn-group-lg {
    height: 3.5rem;

    .icon {
      width: 3.5rem;
      height: 3.5rem;
      @apply inline-flex items-center justify-center border-r border-white mr-4;
    }
  }
}
