.input {
  @apply border border-black rounded-sm py-3 px-4 overflow-hidden;

  &.input-error {
    @apply border border-primary;
  }
}
.input-msg {
  @apply absolute pin-l pin-r mt-1 block text-xs font-medium leading-tight;
}

.btn {
  @apply rounded-sm py-2 border border-black inline-flex items-center justify-center;

  &:hover,&:focus {
    opacity: .7;
  }

  &:disabled {
    @apply opacity-50 bg-grey-light text-black border-grey-light cursor-not-allowed;
  }
}
.btn-primary {
  @apply bg-primary border-primary text-white;
}

.btn-group {
  &.btn-group-lg {
    height: 3.5rem;

    .icon {
      width: 3.5rem;
      height: 3.5rem;
      @apply inline-flex items-center justify-center border-r border-white mr-4;
    }
  }
}

.radio {
  content: ' ';
  @apply h-5 w-5 rounded-full overflow-hidden inline-flex items-center justify-center border-2 border-black;

  &.active {
    @apply border-primary;
    &:before {
      content: ' ';
      @apply h-3 w-3 inline-block rounded-full overflow-hidden bg-primary;
    }
  }
}
